@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 133px;
  height: 86px;
}

.navmenu {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;

}

.menu li {
  margin-left: 10px;

}

.menu li a {
  display: block;
  padding: 10px;
  color: #202020;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.acolhimento {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  width: 1000px;
  height: 362px;
  margin: 20px auto;
  display: grid;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.texto {
  text-align: left;
  margin-left: 150px;
  margin-right: 30px;
}

#texto {
  color: #2f3b90;
  font-size: 40px;
  line-height: 2.1;
}

#sub_texto {
  margin-top: -55px;
  color: #e4007d;
  font-size: 40px;
}

.texto_acolhimento {
  font-size: 20px;
}

.btn1 {
  color: #f8f8f8;
  padding: 10px 20px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #e4007d;
  border-radius: 50px;
  border-color: #e4007d;
  text-transform: uppercase;
}


.foto-frente {
  grid-row: 2;
  grid-column: 1 / span 8;
  margin-top: -390px;
  margin-left: -750px;
  padding-bottom: 10%;
  z-index: 1;
}

.foto-fundo {
  grid-column: 5 / -5;
  grid-row: 1;
}



.pes_input {
  margin: auto;
  text-align: center;
}

.pesquisa {
  width: 856px;
  height: 40px;
  border: none;
  border-bottom: solid 1px #00000099;
}

.botao_pesquisa {
  border: none;
  background-color: #fff;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.texto_card {
  text-align: justify;
  margin-left: 50px;
}

.titulo {
  font-size: 24px;
  color: #2f3b90;
  font-weight: bold;
  line-height: 1.9;
}

.onde {
  font-size: 16px;
  color: #2f3b90;
  line-height: 1.9;
}

.localizacao {
  font-size: 16px;
  line-height: 1.9;
  color: #2f3b90;
}

.tempo {
  font-size: 16px;
  line-height: 1.9;
  color: #2f3b90;
}

.faca_login {
  text-align: center;
  font-size: 16px;
  font-family: "Ubuntu";
  color: #00000099;
  margin-top: 20px;
}

#oportunidades, .parceiros {
  text-align: center;
  font-size: 28px;
  margin-top: 90px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #202020;
}

.carrousel {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}
.cadastro {
  text-align: center;
  padding: 5px;
}

.parte {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.parte p {
  margin-left: 50px;
}

/* Estilização formulários */

.form {
  display: grid;
  justify-content: center;
}

.label-form {
  font-family: "Ubuntu";
  font-size: 24px;
  padding: 10px;
}

.input-label {
  font-size: 24px;
  padding: 5px;
  width: 620px;
  height: 80px;
  border-radius: 20px;
  border: #828282 solid 1px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.button-form {
  width: 176px;
  height: 56px;
  background-color: #0b0a0a;
  color: #fff;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Ubuntu";
}

.termo {
  font-family: "Ubuntu";
  font-size: 12px;
}

.a-termo {
  font-family: "Ubuntu";
  font-size: 14px;
  color: #2f3b90;
}


/* Botoes */

.btn2 {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  text-decoration: none;
}

.btn2-three {
	color: #0b0a0a;
	transition: all 0.5s;
	position: relative;
  padding: 10px 20px;
  padding-right: 50px;
}

.btn2-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn2-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn2-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid #0b0a0a;
	transform: scale(1.2,1.2);
}

.btn2-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}



/* Footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #ffffff;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #000000;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #000000;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #000000;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;

}

.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #000000;
line-height: 28px;
}


.footer-widget-heading h3 {
color: #000000;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff7f00;
}
.footer-widget ul li {
display: inline-block;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #FD8C00;
}
.footer-widget ul li a {
color: #000000;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #f8f8f8;
border: 3px solid #ff7f00;
color: #ff7f00;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff7f00;
  padding: 13px 20px;
  border: 1px solid #ff7f00;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #ff7f00;
}
.copyright-text p a{
color: #ff7f00
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff7f00;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

.footer-colors {
height: 5px;
background: linear-gradient(
  90deg,
  #04508c,
  #ffdd01,
  #f5a800,
  #e0005a,
  #a22a87,
  #009fe3,
  #04508c
);
}

/* Estilização formulários */

 .form {
  display: grid;
  justify-content: center;
}

.label-form {
  font-family: "Ubuntu";
  font-size: 24px;
  padding: 10px;
}

.input-label {
  font-size: 24px;
  padding: 5px;
  width: 620px;
  height: 80px;
  border-radius: 20px;
  border: #828282 solid 1px;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.button-form {
  width: 176px;
  height: 56px;
  background-color: #0b0a0a;
  color: #fff;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Ubuntu";
}

.termo {
  font-family: "Ubuntu";
  font-size: 12px;
}

.a-termo {
  font-family: "Ubuntu";
  font-size: 14px;
  color: #2f3b90;
} 

/* Estilização pagina empresas */

 .frase-empresas{
  font-size: 40px;
  font-family: 'Ubuntu';
  text-align: center;
}

.empresas{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
    
}
.empresas > div{
    margin: 25px;
}

.empresa-parceira{
  font-size: 14px;
  font-family: 'Ubuntu';
  color: #2f3b90;
} 

/* Estilização pagina quem somos */

 .quem_somos{
  font-size: 40px;
  font-family: 'Ubuntu';
  text-align: center;
}

.nos{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
    
}
.nos > div{
    margin: 25px;
}

.sobre{
  font-size: 14px;
  font-family: 'Ubuntu';
  color: #2f3b90;
}  
